.hero-section {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
  padding: 2rem;
}

.hero-logo {
  width: 180px;
  height: auto;
  opacity: 0.95;
}

.contact-btn {
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background-color: #ff0f07;
  border-color: #7e0303;
  color: #000;
  box-shadow: 0 0 10px #ff0707;
}

/* Flecha animada */
.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  cursor: pointer;
  animation: bounce 2s infinite;
  z-index: 3;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, -10px);
  }
  60% {
    transform: translate(-50%, -5px);
  }
}
